# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  schedule:
    - cron: "*/15 * * * *"

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  merge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: merge
        uses: framer/merge-approved-pull-request-action@master
